@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-image:url(https://images.unsplash.com/photo-1560961911-dd5c0bdd004a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
}

.divider {
    width: 3rem;
    border-top: solid 6px #38D68E;
    height: 6px;
    margin-top: -3px;
}

.caja {
    margin-top:70px ;
    color: white;
    background-color: #363942;
    border-radius: 35px;
    padding:10%;
    padding-right: 5%;
}

#portada1 {
    margin-bottom: 40px;
}

.titulo {
    font-family: Ubuntu;
    font-weight: 800;
    font-size: 45px;
    margin-top: 15px;
}

.subtitulo {
    font-family: Quicksand;
    margin-top: -15px;
    font-size: 30px;
}

.texto {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

#sub {
    color:#38D68E;
    margin-bottom: 10px;
}

.subtexto1 {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 12px;
}

.subtexto {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 14px;
    color: #E0E0E0;
    margin-top: 10px;
}

.inputmedidas{
    width: 100%;
    opacity: 100%;
}

::placeholder {
    color: rgb(128, 128, 129);
    font-size: 13px;
    font-style: Ubuntu;
    text-align: center;
}

.btn{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 30px;
}

.btn-primary{
    --bs-btn-focus-shadow-rgb: none !important;
}